.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.btn {
}
.show-btn {
}
.modal {
}
.modal-header {
    display: flex;
    justify-items: center;
    background:#567;
    margin-bottom: 120px;
}
.close-btn {
    border: none;
    background: none;
    font-size: 30px;
}

.hidden{
    display: none;
}