.wrapper {
  display: flex;
  
  align-items: center;
  margin-top: 50px;
  justify-content:center;
}
.minus {
  color: white;
  margin-right: 20px;
  background:red;
  border: red;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}
.num {
  font-size: 20px;
  font-weight: 600;
}
.pilus {
  color: white;
  margin-left: 20px;
  background:green;
  border: green;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}
  